@import '../../variables.scss';

.list {
  width: 100%;
  margin-top: 24px;
  font-family: $font;

  .listHeader {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
    height: 48px;
    color: $offWhite;
    background-color: $primary;
    align-content: center;
    padding-left: 16px;
    font-family: $titleFont;
  }
}
