@import '../../variables.scss';

.filters {
  display: grid;
  column-gap: 32px;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  padding-top: 16px;
}

.dropdownColumn {
  font: $font;
  color: $offWhite;
}

.button {
  background-color: $primary;
  height: 38px;
  align-content: center;
  margin-top: 6px;
  text-transform: uppercase;
  text-align: center;
}
