@import './variables.scss';

.root {
  display: grid;
  grid-template-columns: 256px 1fr;
  width: 100vw;
  background-color: $background;
}

.content {
  min-width: calc(100vw - 320px);
  max-width: calc(92vw - 256px);
  overflow: auto;
  justify-self: center;
  height: 100vw;
}
