@import '../../variables.scss';

.inputDropdownWrapper {
  margin-top: 6px;
}

.dropdown {
  & div[class*='control'] {
    background-color: $primaryShade;
    border: 0;
    outline: none !important;
    box-shadow: none;
    border-radius: 0;

    & div[class*='css'] {
      & div[class*='singleValue'] {
        color: $offWhite;
      }
    }

    & div[class*='IndicatorsContainer'] {
      & > span {
        display: none;
      }
      & > svg {
        transition: all 0.2s ease;
        transform: rotate(180deg);
      }
    }
  }

  & div[class*='menu'] {
    background-color: $primaryShade;
    transition: 0.6s;
    border-radius: 0;
    & div[class*='option'] {
      &:hover {
        background-color: $hover;
      }
      background-color: $primaryShade;
    }
  }
}
